{% extends 'master.html' %}
# Load Cart Tag
{% load cart_tag %}
{% block body %}

    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">

            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">INDIE</span>Shopping</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                            <a href="/product/" class="nav-item nav-link">Products</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cart</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/cart/cart_detail/" class="dropdown-item">Shopping Cart</a>
                                    <a href="#" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="/order/" class="nav-item nav-link">Order</a>
                            <a href="{% url 'contact_page' %}" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {% if user.is_authenticated %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                            {% endif %}
                            <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <a href="{% url 'cart_clear' %}">Clear Cart</a>
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for key,value in request.session.cart.items %}
                        <tr>
                            <td class="align-middle"><img src="{{ value.image}}" alt="" style="width: 50px;">{{ value.name}}</td>
                            <td class="align-middle">₹ {{ value.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <a class="fa fa-minus" href="{% url 'item_decrement' value.product_id %}" style="color:black;"></a>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{value.quantity}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                        <a class="fa fa-plus" href="{% url 'item_increment' value.product_id %}" style="color:black;"></a>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">₹ {{ value.price|multiply:value.quantity }}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><a style="color:black;" class="fa fa-times" href="{% url 'item_clear' key %}"></a></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹ {{cart_total_amount}}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            {% if cart_total_amount == 0 %}
                                <h5 class="font-weight-bold">₹ {{cart_total_amount}}</h5>
                            {% else %}
                                <h5 class="font-weight-bold">₹ {{cart_total_amount}}</h5>
                            {% endif %}
                        </div>
                        <button type="button" class="btn btn-block btn-primary my-3 py-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="color:black;"><b>Proceed To Checkout</b></button>
                        <!--   <a href="/cart/checkout" style="color:black;"><b>Proceed To Checkout</b></a>   -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/checkout/">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Phone :</label>
            <input type="text" name="phone" class="form-control" id="recipient-name" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Address :</label>
            <textarea name="address" class="form-control" id="message-text" required></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Pincode :</label>
            <input type="text" name="pincode" class="form-control" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Checkout</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}