{% extends 'master.html' %}
{% block body %}

<!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">

            </div>
            <br>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                            <a href="/product/" class="nav-item nav-link">Products</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cart</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/cart/cart_detail/" class="dropdown-item">Shopping Cart</a>
                                    <a href="#" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="/order/" class="nav-item nav-link">Order</a>
                            <a href="{% url 'contact_page' %}" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {% if user.is_authenticated %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                            {% endif %}
                            <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Products Start -->
    <div class="container-fluid pt-3">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Search Result</span></h2>
            {% if product|length < 1 %}
                <div class="content-404">
                    <br>
                    <h1><span class="text-primary font-weight-bold border px-3 mr-1">OPPS</span></h1>

                    <h1>We couldn't find this product</h1>
                    <h2><a href="{% url 'index' %}">Go to Home</a> </h2>
                </div>
            {% endif %}
        </div>
        <div class="row px-xl-5 pb-3">
            {% for prod in product %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="/{{prod.image}}" alt="" style="height:300px;">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{prod.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{prod.price}}</h6><h6 class="text-muted ml-2"><i>{{prod.date}}</i></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <!--<a href="#" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a> -->
                        <a href="{% url 'cart_add' prod.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->

{% endblock %}
