{% extends 'master.html' %}
{% block body %}

<section id="form" style="margin-left:40%">
    <div class="col-md-4 mb-5">
        <h2 class="font-weight-bold text-dark mb-4">New Password</h2>
        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            <label>{{field.label_tag}}</label>
            <p>{{ field }}</p>
            {% endfor %}
            <br>
            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Save</button>
        </form>
        <p style="color:red;">Invalid Token</p>
        <p>
            <a href="{% url 'password_reset' %}">Request a new password reset token</a>
        </p>
        {% endif %}
    </div>
</section>


{% endblock %}